<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3 mb-3">
        <h1 class="text-center">
            <%= title %>
        </h1>

        <% if(action =='edit1') { %>
            <div class="card">
                <div class="card-header">Edit Sample</div>
                <div class="card-body">
                    <form method="POST" action="/sample/edit">
                        <!-- <input type="hidden" name="id" value="<%= Data.id %>"> -->

                        <div class="mb-3">
                            <label>No</label>
                            <input type="text" name="No" id="No" class="form-control" value="<%= Data.No%>" required>
                        </div>
                        <div class="mb-3">
                            <label>Fname</label>
                            <input type="text" name="Fname" id="Fname" class="form-control" value="<%= Data.Fname %>" required>
                        </div>
                        <div class="mb-3">
                            <label>Lname</label>
                            <input type="text" name="Lname" id="Lname" class="form-control" value="<%= Data.Lname %>" required>
                        </div>
                        <div class="mb-3">
                            <label>Phone</label>
                            <input type="text" name="Phone" id="Phone" class="form-control" value="<%= Data.Phone %>" required>
                        </div>
                        <div class="mb-3">
                            <label>Address</label>
                            <input type="text" name="Address" id="Address" class="form-control" value="<%= Data.Address%>" required>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Edit" >
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
