<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3 mb-3">
        <h1 class="text-center">
            <%= title %>
        </h1>

        <% if(action=='edit1' ) { %>
            <div class="card">
                <div class="card-header">Edit Sample</div>
                <div class="card-body">
                    <form method="POST" action="/sample/edit/<%=Data.empno%>">

                        <div class="mb-3">
                            <label>EmpNo</label>
                            <input type="number" name="empno" id="empno" class="form-control" value="<%= Data.empno%>" required>
                        </div>
                        <div class="mb-3">
                            <label>Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="<%= Data.name %>"
                                required>
                        </div>
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="text" name="email" id="email" class="form-control" value="<%= Data.email %>"
                                required>
                        </div>
                        <div class="mb-3">
                            <label>Date of Joining</label>
                            <input type="text" name="doj" id="doj" class="form-control" value="<%= formateDate(Data.doj) %>" required>
                        </div>
                        <div class="mb-3">
                            <label>Basic Pay</label>
                            <input type="number" name="basic_pay" id="basic_pay" class="form-control"
                                value="<%= Data.basic_pay%>" required>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Edit">
                        </div>
                    </form>
                </div>
            </div>
            <% } %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>